md-toolbar
    .md-toolbar-tools
        md-button(aria-label="locations", ui-sref="manage-locations") Manage Locations
        md-button(aria-label="Go Back", ui-sref="show-locations") Show Locations