// Angular material required Angular.js Libraries
script(type='text/javascript', src="assets/js/lib/angular/angular.min.js")
script(type='text/javascript', src="assets/js/lib/angular-ui-router/release/angular-ui-router.min.js")
script(type='text/javascript', src="assets/js/lib/angular-animate/angular-animate.min.js")
script(type='text/javascript', src="assets/js/lib/angular-aria/angular-aria.min.js")
script(type='text/javascript', src="assets/js/lib/angular-messages/angular-messages.min.js")
script(type='text/javascript', src="assets/js/lib/angular-resource/angular-resource.min.js")

// Angular Material Library
script(type='text/javascript', src="assets/js/lib/angular-material/angular-material.min.js")

// Angular Code
script(type='text/javascript', src="assets/js/app.js")