doctype html
html(lang="en")
  head
    title= pageTitle
    include partials/_scripts
    base(href="/")
  body(ng-app="appTest")
    header
      include partials/_header
    .main-container(ng-controller="MainCtrl")
        div(ui-view="")